<% input_classes = 'w-full rounded border-none ring-1 ring-slate-900/10 focus:ring-2 focus:ring-primary-500/50 shadow-md shadow-slate-900 bg-slate-900' %>
<% label_classes = 'block font-normal mb-1' %>
<div class="p-6 rounded bg-slate-800">
  <div class="mb-4">
    <div class=" text-2xl text-primary-600 mb-1">Create new food</div>
    <p class="text-sm text-slate-500">Create the food you love here.</p>
  </div>
  <%= form_with model: Food do |form| %>
    <div class="flex flex-col gap-y-4">
      <div>
        <%= form.label :name, class: label_classes %>
        <%= form.text_field :name, class: input_classes, placeholder: "Spaghetti napolitan", autofocus: true %>
      </div>
      <div>
        <%= form.label :measurement_unit, class: label_classes %>
        <%= form.text_field :measurement_unit, class: input_classes, placeholder: "Grames" %>
      </div>
      <div>
        <%= form.label :price, class: label_classes %>
        <%= form.number_field :price, step:".01", class: input_classes %>
      </div>
      <div>
        <%= form.label :quantity, class: label_classes %>
        <%= form.number_field :quantity, class: input_classes %>
      </div>
    </div>
    <div class="mt-8">
      <button type="submit" class="w-full rounded px-4 py-2 bg-primary-400/20 shadow-md text-primary-600 tracking-wide">
        Save
      </button>
    </div>
  <% end %>
</div>
